<% include header %>
 <form class="ui form" method="post" action="/">
   <input type="hidden" name="tableName" value="T_Partie">
    <h4 class="ui dividing header">Ajout d'une partie: </h4>
    <div class="field">
      <label for="player">Joueur</label>
      <select   class="ui fluid dropdown"
                id="player"
                name="player"
                required>
        <option value="" selected disabled>Choisir un joueur</option>
        <% for(var i=0; i<T_Joueur.length; i++) {%>
          <option value=<%= T_Joueur[i].id_Joueur %>> <%= T_Joueur[i].Jou_FirstName %> <%= T_Joueur[i].Jou_LastName %></option>
        <% } %>
      </select>
    </div>
    <div class="field">
      <label for="disponibilite">Disponibilité</label>
      <select   class="ui fluid dropdown"
                id="disponibilite"
                name="disponibilite"
                required>
        <option value="" selected disabled>Choisir une disponibilité</option>
        <% for(var i=0; i<V_Disponibilite.length; i++) {%>
          <option value=<%= V_Disponibilite[i].id_Disponibilite %>>
            <%= V_Disponibilite[i].Con_Name %>:
            <%= V_Disponibilite[i].Sys_Name %> -
            <%= V_Disponibilite[i].Sce_Name %> |
            <%= V_Disponibilite[i].Dis_Schedule %>
          </option>
        <% } %>
      </select>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Envoyer
    </button>

</form>
<% include footer %>
